.project {
    padding: 20px;
}

.project__data{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
.project__card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #2b7a78;
}

.project__title{
    margin-left: 30px;
}

.project__date{
    margin-left: 20px;
}


.project__card:hover {
    border: 2px solid white;
}


.project__header {
    margin-bottom: 5px;
    font-size: 18px;
}

.project__image {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.project__description{
    margin-bottom: 10px;
    font-size: 16px;

    
}
.project__list-technologies {
    padding-left: 20px;
    font-size: 15px;
    margin-top: 10px;
}

.project__item {
    display: inline-block;
    background-color: #17252A;
    color: #FEFFFF;
    border-radius: 15px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project__link{
    margin-top: 20px;
}

.project__card a {
    color: #17252A;
    text-decoration: none;
}

.project__card a:hover {
    text-decoration: underline;
}

@media (max-width: 720px) {
    .project__data {
        grid-template-columns: 1fr;
    }
}
