.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skills section {
    flex: 1;
    margin-right: 20px;
}

.skills__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.skills__list {
    list-style-type: none;
    padding: 0;
    color: #DEF2F1;

}

.skills__item {
    margin-bottom: 9px;
}

.skills i {
    margin-right: 5px;
}
